@model List<ProductViewModel>

<h1>Результаты поиска</h1>
<br />

@if (Model == null || Model.Count==0)
{
    <p>По вашему запросу ничего не найдено.<br />Попробуйте снова</p>
}
else
{
    <h5>Вы искали:</h5>
    @foreach (var result in TempData["Result"] as string)
    {@result;
}
<br />
    <h4>Результаты поиска:</h4>
    <br />
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-4 card shadow">
                <div>
                    <img class="card-img-top" href="@product.Image" src="@product.Image" alt="@product.Name" />
                    <div class="card-body">
                        <a href="/Product/Index/@product.Id">@product.Name</a>
                        <p>@product.Cost руб</p>
                        <p>@product.Description</p>
                    </div>
                </div>
                <div>
                    <a class="btn btn-success" asp-area="" asp-controller="Cart" asp-action="Add" asp-route-id="@product.Id" role="button">Добавить в корзину</a>
                    <a class="btn btn-warning" asp-area="" asp-controller="Favorites" asp-action="Add" asp-route-id="@product.Id" role="button">Добавить в избранное</a>
                    <a class="btn btn-info" asp-area="" asp-controller="Compare" asp-action="Add" asp-route-id="@product.Id" role="button">Сравнить</a>
                </div>
            </div>
        }
    </div>
}
<a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="Index" role="button">Вернуться на главную страницу</a>
