@model ProductViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center py-5">
    <h1 class="display-4"></h1>
    @if (Model == null)
    {
        <div class="card-body">
            <p>Извините, товар не найден</p>
        </div>
    }
    else
    {
            <div class="row">
                <div class="col-6">
                    <img class="card-img-top" href="@Model.Image" src="@Model.Image" alt="@Model.Name" />
                </div>
                <div class="col-6 py-2">
                    <div class="row">
                        <div class="text-left">
                            <h2>@Model.Name</h2>
                            <p class="font-weight-light">@Model.Cost  ₽</p>
                            <p class="font-italic">@Model.Description</p>
                        </div>
                    </div>
                    <div class="text-left">
                        <div class="btn-group-vertical" role="group" aria-label="Basic example">
                            <a type="button" class="btn btn-dark" asp-area="" asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id">В корзину</a>
                            <a type="button" class="btn btn-primary" asp-area="" asp-controller="Favorites" asp-action="Add" asp-route-id="@Model.Id">В избранное</a>
                            <a type="button" class="btn btn-info" asp-area="" asp-controller="Compare" asp-action="Add" asp-route-id="@Model.Id">Сравнить</a>
                        </div>
                    </div>
                </div>
            </div>
    }
</div>
<div class="py-1">
    <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Index" role="button">Продолжить покупки</a>
</div>
