@model Cart

<form action="#" method="post" enctype="multipart/form-data">
    <div class="validatoin" asp-validation-summary="ModelOnly"></div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Оформление заказа</h5>
                    <p class="card-text">Введите Ваши данные</p>
                    <div>
                        <p>Имя</p>
                        <input tabindex="1" type="text" name="name">
                    </div>
                    <div>
                        <p>Фамилия</p>
                        <input tabindex="2" type="text" name="surname">
                    </div>
                    <div>
                        <p>Адрес</p>
                        <input tabindex="3" type="text" name="adress">
                    </div>
                    <div>
                        <p>Телефон</p>
                        <input tabindex="4" type="tel" name="phone">
                    </div>
                    <div>
                        <p>Электронная почта</p>
                        <input tabindex="5" type="text" name="email">
                    </div>
                    <div>
                        <p>Комментарий к заказу</p>
                        <textarea tabindex="6" name="comment" cols="30" rows="10"></textarea>
                    </div>
                    <br />
                    <button class="btn btn-success" type="submit" asp-controller="Order" asp-action="Accept" tabindex="7">Оформить заказ</button>
                </div>
            </div>
        </div>
        <div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <tr class="text-center">
                            <th>Номер</th>
                            <th>Название</th>
                            <th>Цена, руб.</th>
                            <th>Количество</th>
                            <th>Стоимость</th>
                        </tr>
                        @{ int i = 1;}
                        @foreach (var item in Model.Items)
                        {
                            <tr class="text-center">
                                <th>@i</th>
                                <th>@item.Product.Name</th>
                                <th>@item.Product.Cost</th>
                                <th>@item.Amount</th>
                                <th>@item.Cost</th>
                                @{i++;}
                            </tr>
                        }
                    </table>
                    <div class="text-right">
                        <h3>Итого:</h3>
                        <h3>@Model.Cost</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>