@model List<Basket.BasketList>
@{
    ViewData["Title"] = "Home Page";
}

@if (Model.Count == 0)
{
    <div>
        <p>Упс, корзина пуста</p>
        <a class="btn btn-info" asp-controller="Home" asp-action="Index" role="button">Продолжить покупки</a>
    </div>
}
else
{
    <h1 class="display-4">Корзина</h1>
    <div>
        <table class="table">
            <tr>
                <th>Номер</th>
                <th>Название</th>
                <th>Количество</th>
                <th>Стоимость</th>
                <th>Итого</th>
            </tr>
            @{ int i = 1;}
            @{decimal totalResult = 0; }
            @foreach (var products in Model)
            {
                <tr>
                    <th>@i</th>
                    <th>@products.Product.Name</th>
                    <th>@products.Count</th>
                    <th>@products.Product.Cost</th>
                    <th>@{decimal result = products.Product.Cost * products.Count;}@result</th>
                    @{
                        i++;
                        totalResult += result;}
                </tr>
            }
            <tr>
                <th>Итого</th>
                <th>@totalResult</th>
            </tr>
        </table>
        <a class="btn btn-info" asp-controller="Home" asp-action="Index" role="button">Продолжить покупки</a>
    </div>
}




