@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}
<div><h1 class="display-4">Все товары</h1></div>
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-3 card shadow">
            <img class="card-img-top" href="@product.Image" src="@product.Image" alt="@product.Name" />
            <div class="card-body">
                <a href="/Product/Index/@product.Id">@product.Name</a>
                <p>@product.Cost руб</p>
                <a class="btn btn-success" asp-controller="Cart" asp-action="Add" asp-route-id="@product.Id" role="button">Добавить в корзину</a>
                <a class="btn btn-light" asp-controller="Favorites" asp-action="Add" asp-route-id="@product.Id" role="button">Добавить в избранное</a>
                <a class="btn btn-link" asp-controller="Compare" asp-action="Add" asp-route-id="@product.Id" role="button">Сравнить</a>
            </div>
        </div>
    }
</div>


