@model Product

<div class="container">
    <h1>Редактирование</h1>
    <form method="post" class="form-group">
        <div>
            <label>Id</label>
            <input type="text" class="form-control" name="id" value="@Model.Id" readonly>
        </div>
        <div>
            <label asp-for="Name">Имя</label>
            <input asp-for="Name" type="text" class="form-control" name="Name" tabindex="1" value="@Model.Name">
            <span class="badge badge-danger" asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Cost">Цена</label>
            <input asp-for="Cost" type="number" class="form-control" name="Cost" tabindex="2" value="@Model.Cost" min="1">
            <span class="badge badge-danger" asp-validation-for="Cost"></span>
        </div>
        <div>
            <label asp-for="Description">Описание</label>
            <textarea asp-for="Description" class="form-control" type="text" name="Description" cols="30" rows="10" tabindex="3" value="">@Model.Description</textarea>
            <span class="badge badge-danger" asp-validation-for="Description"></span>
        </div>
        <div>
            <label>Подкатегория</label>
            <select name="CategoryItem" value="Категории">
                @foreach (Category category in ViewBag.Categories)
                {
                    @foreach (string item in category.Items)
                    {
                        <option name="CategoryItem" value="@item">@category.Name: @item </option>
                    }
                }
            </select>
        </div>
        <br />
        <div>
            <input type="hidden" name="Image" value="@Model.Image" />
            <span>
                <button type="submit" class="btn btn-primary" asp-controller="Admin" asp-action="EditProduct" tabindex="5">Изменить</button>
                <a class="btn btn-danger" href="/Admin/Index" tabindex="6">Отменить</a>
            </span>
        </div>
        <div class="validatoin badge badge-danger" asp-validation-summary="ModelOnly"></div>
    </form>
</div>
