@model Compare
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Товары для сравнения</h1>
@if (Model == null || Model.Items.Count == 0)
{
    <h2>Список для сравнения пуст</h2>
    <div><a class="btn btn-info" asp-controller="Home" asp-action="Index" role="button">Вернуться на главную страницу</a></div>
}
else
{
    <div class="row">
        @foreach (var product in Model.Items)
        {
            <div class="col-4 card shadow">
                <div>
                    <img class="card-img-top" href="@product.Image" src="@product.Image" alt="@product.Name" />
                    <div class="card-body">
                        <a href="/Product/Index/@product.Id">@product.Name</a>
                        <p>@product.Cost руб</p>
                        <p>@product.Description</p>

                    </div>
                </div>
                <div>
                    <a class="btn btn-success" asp-controller="Cart" asp-action="Add" asp-route-id="@product.Id" role="button">Добавить в корзину</a>
                    <a class="btn btn-danger" asp-controller="Compare" asp-action="Delete" asp-route-id="@product.Id" role="button">Удалить товар</a>
                </div>
            </div>
        }
    </div>
    <div>
        <a class="btn btn-link" asp-controller="Compare" asp-action="Clear" role="button">Очистить список сравнения</a>
    </div>
    <div><a class="btn btn-info" asp-controller="Home" asp-action="Index" role="button">Продолжить покупки</a></div>
}






