@model User

<div class="row">
    <div class="col-2">
        @await Html.PartialAsync("AdminLeftMenu")
    </div>
    <div class="col-10">

        <div class="row">
            <div class="col">
                <div class="list-group d-flex align-items-center py-5">
                    <h4>Редактирование @Model.Login.Name</h4>
                    <div class="validatoin badge badge-danger" asp-validation-summary="ModelOnly"></div>
                    <form method="post" class="form-group">
                        <div>
                            <label asp-for="Login.Name">Логин</label>
                            <input asp-for="Login.Name" type="text" class="form-control" name="Name" tabindex="1" value="@Model.Login.Name">
                            <span class="badge badge-danger" asp-validation-for="Login.Name"></span>
                        </div>
                        <div>
                            <label asp-for="Login.Password">Пароль</label>
                            <input asp-for="Login.Password" type="text" class="form-control" name="Name" tabindex="1" value="@Model.Login.Password">
                            <span class="badge badge-danger" asp-validation-for="Login.Password"></span>
                        </div>
                        <div>
                            <label asp-for="Contacts.Name">Имя</label>
                            <input asp-for="Contacts.Name" type="text" class="form-control" name="Name" tabindex="1" value="@Model.Contacts.Name">
                            <span class="badge badge-danger" asp-validation-for="Contacts.Name"></span>
                        </div>
                        <div>
                            <label asp-for="Contacts.Surname">Фамилия</label>
                            <input asp-for="Contacts.Surname" type="text" class="form-control" name="Name" tabindex="1" value="@Model.Contacts.Surname">
                            <span class="badge badge-danger" asp-validation-for="Contacts.Surname"></span>
                        </div>
                        <div>
                            <label asp-for="Contacts.Adress">Адрес</label>
                            <input asp-for="Contacts.Adress" type="text" class="form-control" name="Name" tabindex="1" value="@Model.Contacts.Adress">
                            <span class="badge badge-danger" asp-validation-for="Contacts.Adress"></span>
                        </div>
                        <div>
                            <label asp-for="Contacts.Phone">Телефон</label>
                            <input asp-for="Contacts.Phone" type="text" class="form-control" name="Name" tabindex="1" value="@Model.Contacts.Phone">
                            <span class="badge badge-danger" asp-validation-for="Contacts.Phone"></span>
                        </div>
                        <div>
                            <label asp-for="Contacts.Email">Email</label>
                            <input asp-for="Contacts.Email" type="text" class="form-control" name="Name" tabindex="1" value="@Model.Contacts.Email">
                            <span class="badge badge-danger" asp-validation-for="Contacts.Email"></span>
                        </div>
                        <div>
                            <div>
                                <label>Роль</label>
                            </div>
                            <select class="form-group" name="role" value="">
                                @foreach (Role role in ViewData["Roles"] as List<Role>)
                                {
                                    if (Model.Role != null)
                                    {
                                        if (role.Name != Model.Role.Name)
                                        {
                                            <option  name="role" value="@role">@role.Name</option>
                                        }
                                        else
                                        {
                                            <option selected name="role" value="@role">@role.Name</option>
                                        }
                                    }
                                    else
                                    {
                                        <option class="form-check-input" name="role" value="@role">@role.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <br />
                        <div>
                            <span>
                                <button type="submit" class="btn btn-primary" asp-controller="Admin" asp-action="EditUser" tabindex="2">Изменить</button>
                                <a class="btn btn-danger" href="/Admin/Index" tabindex="3">Отменить</a>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
