@model User
<div class="row py-5">
    <div class="col-2">
        @await Html.PartialAsync("ProfileLeftMenu")
    </div>
    <div class="col-10">
        <div class="row py-3">

            @if (ViewBag.Favorites != null)
            {
                <div class="col text-left">
                    <h4>Избранные товары</h4>
                </div>
                @foreach (var item in ViewBag.Favorites.Items)
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100 box-shadow">
                            <div>
                                <img class="card-img-top" href="@item.Image" src="@item.Image" alt="@item.Name" />
                                <div class="card-body">
                                    <a asp-area="" asp-controller="Product" asp-action="Index" asp-route-id="product.Id">@item.Name</a>
                                    <p>@item.Cost руб</p>
                                    <p>@item.Description</p>
                                </div>
                            </div>
                            <div class="text-left">
                                <div class="btn-group-vertical" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-secondary" asp-area="" asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id">В корзину</button>
                                    <button type="button" class="btn btn-secondary" asp-area="" asp-controller="Favorites" asp-action="Delete" asp-route-id="@item.Id">Удалить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="row py-3">
                    <div class="col py-3">
                        <div class="row">
                            <h1 class="display-4">Избранные товары</h1>
                        </div>
                        <h2>Добавьте товар в избранное</h2>
                        <p>
                            В этом списке будут храниться товары, которые Вас заинтересовали.<br />
                            Можете добавить сюда недавно просмотренные товары.
                        </p>
                        <div class="row">
                            <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Index" role="button">Вернуться на главную страницу</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>