@model User
<div class="row">
    <div class="col-2">
        @await Html.PartialAsync("ProfileLeftMenu")
    </div>
    <div class="col-10">
        <div class="row">
                <h4>Избранные товары</h4>
            @if (ViewBag.Favorites != null)
            {
                @foreach (var item in ViewBag.Favorites.Items)
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100 box-shadow">
                            <div>
                                <img class="card-img-top" href="@item.Image" src="@item.Image" alt="@item.Name" />
                                <div class="card-body">
                                    <a asp-area="" asp-controller="Product" asp-action="Index" asp-route-id="product.Id">@item.Name</a>
                                    <p>@item.Cost руб</p>
                                    <p>@item.Description</p>
                                </div>
                            </div>
                            <div>
                                <a class="btn btn-success" asp-area="" asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" role="button">Добавить в корзину</a>
                                <a class="btn btn-danger" asp-area="" asp-controller="Favorites" asp-action="Delete" asp-route-id="@item.Id" role="button">Удалить товар</a>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="row">
                    <div class="col">
                        <div class="list-group d-flex align-items-center py-5">
                            <p>У Вас нет избранных товаров</p>
                            <div><a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="Index" role="button">Вернуться на главную страницу</a></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>