@model UserViewModel
<div class="row py-5">
    <div class="col-2">
        @await Html.PartialAsync("ProfileLeftMenu")
    </div>
    <div class="col-10">

        <div class="row">
            <div class="col">
                <div class="list-group d-flex align-items-center py-5">
                    <h4>Мои заказы</h4>
                    @if (Model.Orders == null || Model.Orders.Count == 0)
                    {
                        <p>Заказов нет</p>
                    }
                    else
                    {
                        <br />
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">№</th>
                                    <th scope="col">Номер заказа</th>
                                    <th scope="col">Сумма</th>
                                    <th scope="col">Дата</th>
                                    <th scope="col">Время</th>
                                    <th scope="col">Статус</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                    string status;
                                }
                                @foreach (var order in Model.Orders)
                                {
                                    <tr>
                                        @{
                                            status = order.InfoStatus.GetStatus(order.InfoStatus.StatusOrder);
                                        }
                                        <th scope="row">@i</th>
                                        <td>@order.Number</td>
                                        <td>@order.Cost</td>
                                        <td>@order.InfoStatus.Data.ToShortDateString()</td>
                                        <td>@order.InfoStatus.Data.ToLongTimeString()</td>
                                        <td>@status</td>
                                        @{
                                            i++;
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>