@model Cart
    ViewData["Title"] = "Home Page";
}

@if (Model == null)
{
    <div>
        <p>Упс, корзина пуста</p>
        <a class="btn btn-info" asp-controller="Home" asp-action="Index" role="button">Продолжить покупки</a>
    </div>
}
else
{
    <h1 class="display-4">Корзина</h1>
    <div>
        <table class="table">
            <tr>
                <th>Номер</th>
                <th>Название</th>
                <th>Количество</th>
                <th>Стоимость</th>
                <th>Итого</th>
            </tr>
            @{ int i = 1;}
            @foreach (var products in Model.Items)
            {
                <tr>
                    <th>@i</th>
                    <th>@products.Product.Name</th>
                    <th>@products.Product.Cost</th>
                    <th>@products.Amount</th>
                    <th>@products.Cost</th>
                    @{i++;}
                </tr>
            }
            <tr>
                <th>Итого</th>
                <th>@Model.Cost</th>
            </tr>
        </table>
        <a class="btn btn-info" asp-controller="Home" asp-action="Index" role="button">Продолжить покупки</a>
        <a class="btn btn-success" href="#" role="button">Оформить заказ</a>
    </div>
}




