@model Cart

@if (Model == null || Model.Items.Count == 0)
{
    <div>
        <p>Упс, корзина пуста</p>
        <a class="btn btn-info" href="/Home/Index" role="button">Вернуться на главную страницу</a>
    </div>
}
else
{
    <h1 class="display-4">Корзина</h1>
    <div class="row">
        <div class="col">
            <table class="table">
                <tr class="text-center">
                    <th>Номер</th>
                    <th>Название</th>
                    <th>Цена, руб.</th>
                    <th></th>
                    <th>Количество</th>
                    <th></th>
                    <th>Стоимость</th>
                </tr>
                @{ int i = 1;}
                @foreach (var item in Model.Items)
                {
                    <tr class="text-center">
                        <th>@i</th>
                        <th>@item.Product.Name</th>
                        <th>@item.Product.Cost</th>
                        <th>
                            <a type="button" class="btn btn-info" href="/cart/ChangeAmount?id=@item.Product.Id&sign=1">+</a>
                        </th>
                        <th>@item.Amount</th>
                        <th>
                            <a type="button" class="btn btn-info" href="/cart/ChangeAmount?id=@item.Product.Id&sign=-1">-</a>
                        </th>
                        <th>@item.Cost</th>
                        @{i++;}
                    </tr>
                }
            </table>
            <div class="text-right">
                <h3>Итого:</h3>
                <h3>@Model.Cost</h3>
            </div>
            <a class="btn btn-info" href="/Home/Index" role="button">Продолжить покупки</a>
            <a class="btn btn-success" href="/Order/Index" role="button">Оформить заказ</a>
        </div>
    </div>
    <br />
    <div>
        <a class="btn btn-danger" href="/Cart/Clear" role="button">Очистить корзину</a>
    </div>

}





