@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<div class="row">
    <div class="col-2">
        @await Html.PartialAsync("AdminLeftMenu")
    </div>
    <div class="col-10">
        <div class="row">
            <div class="col">
                <div class="list-group d-flex align-items-center py-5">
                    <h2>Роли</h2>
                    @if (Model == null || Model.Count() == 0)
                    {
                        <p>Ролей нет</p>
                        <div>
                            <a class="btn btn-primary" asp-area="Admin" asp-controller="Roles" asp-action="AddRole" role="button">Добавить новую роль</a>
                        </div>
                        <br />
                    }
                    else
                    {
                        <div>
                            <a class="btn btn-primary" asp-area="Admin" asp-controller="Roles" asp-action="AddRole" role="button">Добавить новую роль</a>
                        </div>
                        <div class="validatoin badge badge-danger py-5" asp-validation-summary="ModelOnly"></div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="auto">Список ролей</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                }
                                @foreach (var role in Model)
                                {
                                    <tr>
                                        <th scope="row">@i</th>
                                        <td>@role.Name</td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="@role.Id" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Подробнее
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                    <li>
                                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Roles" asp-action="EditRole" asp-route-id="@role.Id">Редактировать</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Roles" asp-action="DeleteRole" asp-route-id="@role.Id">Удалить</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        @{
                                            i++;
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>