@model IEnumerable<ProductViewModel>

<div class="row">
    <div class="col-2">
        @await Html.PartialAsync("AdminLeftMenu")
    </div>
    <div class="col-10">
        <div class="row">
            <div class="col">
                <div class="list-group d-flex align-items-center py-5">
                    <h2>Продукты</h2>
                    @if (Model == null || Model.Count() == 0)
                    {
                        <p>Продуктов нет</p>
                        <div>
                            <a class="btn btn-primary" asp-area="Admin" asp-controller="Products" asp-action="AddProduct" role="button">Добавить новый продукт</a>
                        </div>
                    }
                    else
                    {
                        <div class="py-2">
                            <div class="validatoin badge badge-danger" asp-validation-summary="ModelOnly"></div>
                        </div>

                        <div>
                            <a class="btn btn-primary" asp-area="Admin" asp-controller="Products" asp-action="AddProduct" role="button">Добавить новый продукт</a>
                        </div>
                        <br />
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">№</th>
                                    <th scope="col">Id</th>
                                    <th scope="col">Название продукта</th>
                                    <th scope="col">Цена</th>
                                    <th scope="col">Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                }
                                @foreach (var product in Model)
                                {
                                    <tr>
                                        <th scope="row">@i</th>
                                        <td>@product.Id</td>
                                        <td>@product.Name</td>
                                        <td>@product.Cost</td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-success dropdown-toggle" type="button" id="@product.Id" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Действия
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                    <li>
                                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Products" asp-action="Description" asp-route-Id="@product.Id">Описание</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Products" asp-action="EditForm" asp-route-Id="@product.Id">Редактировать</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Products" asp-action="DeleteProduct" asp-route-Id="@product.Id">Удалить</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        @{
                                            i++;
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="DeleteProduct" aria-labelledby="DeleteProduct" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Удаление товара</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите удалить товар?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <a asp-area="Admin" asp-controller="Admin" asp-action="DeleteProduct" asp-route-Id="number">Удалить</a>
            </div>
        </div>
    </div>
</div>