@model Favorites
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Избранные товары</h1>
@if (Model == null || Model.Items.Count == 0)
{
    <h2>Добавьте товар в избранное</h2>
    <p>
        В этом списке будут храниться товары, которые Вас заинтересовали.<br />
        Можете добавить сюда недавно просмотренные товары.<br />Внимание!
        Чтобы сохранить список и иметь доступ к нему с различных устройств,
        необходимо авторизоваться или зарегистрироваться.
    </p>
    <div><a class="btn btn-info" href="/Home/Index" role="button">Вернуться на главную страницу</a></div>
}
else
{
    <div class="row">
        @foreach (var product in Model.Items)
        {
            <div class="col-4 card shadow">
                <div>
                    <img class="card-img-top" href="@product.Image" src="@product.Image" alt="@product.Name" />
                    <div class="card-body">
                        <a href="/Product/Index/@product.Id">@product.Name</a>
                        <p>@product.Cost руб</p>
                        <p>@product.Description</p>
                    </div>
                </div>
                <div>
                    <a class="btn btn-success" href="/cart/add?id=@product.Id" role="button">Добавить в корзину</a>
                    <a class="btn btn-danger" href="/Favorites/Delete?id=@product.Id" role="button">Удалить товар</a>
                </div>
            </div>
        }
    </div>
    <div>
        <a class="btn btn-link" href="/Favorites/Clear" role="button">Очистить список избранных товаров</a>
    </div>
    <div><a class="btn btn-info" href="/Home/Index" role="button">Продолжить покупки</a></div>
}


